:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-primary-text-color-theme-dark: #2f303a;
  --secondary-primary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --trasform-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font-family);
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Components ===== */

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-part {
  color: var(--accent-color);
}

.tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-text-color-theme-dark);
  border-radius: 50%;
  fill: #AFB1B8;
  transition: var(--trasform-primary);
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #FFFFFF;
  background-color: var(--accent-color);  
}

.clients-list {
  display: flex;
}

.features-list-picture {
  display: flex;
  justify-content: space-between;
}

.features-picture-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  fill: #212121;
}

/* ===== Header ===== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  position: relative;
}

.navigation {
  margin-left: 90px;
}

/* ===== Stripe ===== */

.nav-list-item > .studio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  margin-top: 46px;
  margin-left: -49px;
}

.nav-list-item > .portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  margin-top: 46px;
  margin-left: -77px;
}

/* ===== End Stripe ===== */

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  transition: var(--trasform-primary);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.contacts-item:first-child{
  margin-right: 30px;
}

.contact-mail, .contact-number {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  fill: var(--second-text-color);
}

.contacts-icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: var(--trasform-primary);
}

.contacts-icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transform: var(--trasform-primary);
}


.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-primary-text-color-theme-light);
  margin-left: auto;
  margin-right: 50px;
  transition: --trasform-primary;
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-primary-text-color-theme-light);
  transition: var(--trasform-primary);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-mail:hover .contacts-icon-email,
.contact-mail:focus .contacts-icon-email {
  fill: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

.contact-number:hover .contacts-icon-tel,
.contact-number:focus .contacts-icon-tel {
  fill: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===== Hero ===== */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero/img.jpg");
  background-size: cover;
  background-color: #C4C4C4;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 210px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 40px;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: #2196F3;
  margin-left: auto;
  margin-right: auto;
  transition: var(--trasform-primary);
}

.button:hover,
.button:focus {
  background-color: #188CE8;
  cursor: pointer;
}

/* ===== Features ===== */
.features-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.features-list-item {
  flex-basis: calc((100%-120px)/4);
  margin-left: 30px;
  margin-top: 30px;
}

/* ===== About-Us ===== */
.about-us {
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.features-icon-img {
  margin-bottom: 30px;
}

.about-us-list-item {
  position: relative;
}

.about-us-box{
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-content: space-around;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
}


.about-us-text{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

/* ===== Team ====== */

.team {
  background: #F5F4FA;
}

.team-list-img-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}

.team-list-img-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list-caption {
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

/* ===== Clients ===== */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-box {
  display: flex;
}

.clients-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--primary-text-color-theme-dark);
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition: var(--trasform-primary);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid #2196F3;
  }

.clients-list-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

/* ===== Footer ===== */


.footer {
  position: relative;
  font-family: inherit;
  background-color: var(--secondary-primary-text-color-theme-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-social-list {
  display: flex;

}
.footer-list {
  margin-top: 20px;
}

.logo-part-footer {
  color: var(--primary-text-color-theme-dark);
}

.address-contact-maps {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 9px;
}

.address-contact-mail {
  display: block;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.address-contact-number {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} 

.footer-info{
  display: flex;
  align-items: baseline;
}

.footer-container{
  margin-right: 70px;
}

.footer-tagline {
  color: var(--primary-text-color-theme-dark);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus{
  background-color: var(--accent-color);
}


/* ===== Footer form ===== */

.footer-form {
  margin-left: 93px;
}

.footer-form-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.footer-form-box {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: block;
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  color: #FFFFFF;
  outline: none;
}

.footer-form-input:focus {
  border-color: var(--accent-color);
}

.footer-form-btn {
  border: 0;
  margin-left: 12px;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-color: #2196f3;
  border-radius: 4px;
  fill: var(--primary-text-color-theme-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

.footer-form-btn::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/icon\ send.svg);
  margin-left: 10px;
}


.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

/* ===== Portfolio ===== */

.portfolio-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-nav-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  padding: 6px 22px;
  transition: var(--trasform-primary);
}

.page-nav-button:hover,
.page-nav-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  padding-left: 20px;
}

.examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
  padding-left: 20px;
}

.page-nav-container {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.page-nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.page-nav-button{
  border-radius: 4px;
  border: none;
}


.page-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;

  position: relative;
  transition-property: box-shadow;
  transition: var(--trasform-primary);
}

.examples-list-item:hover, 
.examples-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.examples-list-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  align-content: center;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--trasform-primary);
}

.examples-list-item:hover .overlay,
.examples-list-item:focus .overlay {
  transform: translateY(0%);
  cursor: pointer;
}

.examples-list-caption:hover,
.examples-list-caption:focus {
  cursor: pointer;
}

/* ===== Modal Window ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  /* transform: opacity var(--trasform-primary), visibility var(--trasform-primary); */
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

/* ===== Contact form ===== */

.contact-form {
  position: absolute;
  }

.contact-form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 2px;

}

.contact-form-label {
  display: block;
  margin-top: 10px;
  width: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-icon {
fill: var(--accent-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  
}

.contact-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
  
.contact-form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.contact-form-checkbox:checked + 
.contact-form-checkbox-label::before {
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border: var(--accent-color);
  background-color: var(--accent-color);

}

.contact-form-checkbox-agreement {
  color: var(--accent-color);
  padding-left: 4px;
  padding-right: 18px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color-theme-light);
  border-radius: 2px;
  cursor: pointer;
  content: '';
  margin-right: 10px;
}

.contact-form-btn {
  height: 50px;
  min-width: 200px;
  padding: 10px 55px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: #2196F3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}
